footer {
    background-color: lightseagreen;
    z-index: 0;
    padding: 3rem 0 !important;
    color: white;

    justify-content: center;
    text-align: center;

    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: -2rem;
}

footer p, footer a{
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}
