footer {
    position: relative;
    top: 0;
    left: 0;
    background-color: lightseagreen;
    z-index: 0;
    width: 100% !important;
    max-width: 100% !important;
    padding: 50px 0 !important;
    color: white;
}

footer section {
    text-align: center;
}

footer p, footer a{
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}
