header {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.2);
    margin: 0 -2rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 2rem 2rem;
}

header article{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-grow: 9;
    margin: 2rem 0;
}

header img {
    max-width: 200px;
    border-radius: 50%;
    flex-grow: 3
}
